<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Moonshot</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <style>
    html,
    body,
    pre,
    code,
    kbd,
    samp {
      font-family: "Press Start 2P";
    }
  </style>
</head>

<audio id="music">
  <source src="audio/sawsquarenoise-stage-3.mp3" type="audio/mp3">
</audio>

<body>

    <div class="nav" id="navbar">
        <div class="flex-container-top">
            <div class="flex-items"><a href="#">Home</a></div>
            <div class="flex-items"><a href="#about">About</a></div>
            <div class="flex-items"><a href="#tokenomics">Tokenomics</a></div>
            <div class="flex-items"><a href="#buying">How to buy</a></div>
            <div class="flex-items"><a href="#roadmap">Roadmap</a></div>
        </div>
    </div>

    <div class="moonshot">
        <div class="themoon">
            <div class="launch dark"></div>
        </div>
        <div class="caption">
            <h1>
            <a onclick="play();" target="_blank" id="takethemoonshot">TAKE THE MOONSHOT</a>
            </h1>
            <div class="introduction">
                <p>Deflationary, frictionless yield and liquidity generation protocol.</p>
                <p>Simply hold Moonshot in your wallet and gain rewards when others transfer.</p>

            </div>
        </div>
    
        <div class="buttons">
            <a target="_blank" href="https://t.me/RS25Moonshot">Join on Telegram</a>
            <a target="_blank" href="https://twitter.com/RS25Moonshot">Join on Twitter</a>
        </div>

    </div>
 
    <div class="about" id="about">
        <h1>About</h1>
        <div class="content">
            <div class="about-text">
                <h2>
                    <b>
                      Moonshot is a deflationary, self-regenerating automatic liquidity providing protocol that pays out static
                      rewards to holders.
                      As our burn address is in the list of holders, the total supply of moonshot is forever decreasing.
                    </b>
                </h2>
                <p>
        
                </p>
                <div>
                  <h3>Reward distribution</h3>
                  <p>
                    4% of each transaction is distributed amongst Moonshot holders. This increases the incentive to
                    hold the tokens in the wallets. When nobody is selling, the price could moon rocket. WallStreetBets
                    won the fight against hedge funds. Just by buying and holding, as the key to success. Every single Moonshot
                    holder
                    has an incentive to spread the use of Moonshot as much as possible. As more transactions take place in the
                    network,
                    the net-worth of every individual increases as well.
                  </p>
                </div>
            </div>
            <div class="about-img op">
               <img src="img/themoon-g.png" alt="" />
            </div>
        </div>

        <div class="content">
            <div class="about-bottom">
          
              <div class="bottom-text">
                <div>
                  <h3>Auto-locking liquidity</h3>
                  <p>
                    6% of each transaction is automatically locked to the liquidity pool. This
                    contributes to lower volatility and a continuously increasing
                    price floor.
                  </p>
                </div>
                <div>
                  <h3>100% rugpull safe</h3>
                  <p>
                  LP tokens are locked for 3 years by the DXSale.Network. You can view our lock <a target="_blank" href="https://dxsale.app/app/pages/dxlockview?id=183&add=0&type=lpdefi&chain=BSC">here</a> <br />
                    Fair distribution with no whales due to maximum of 2 BNB allocation per wallet.<br />
                    Team must buy their tokens.<br />
                  </p>
                </div>
              </div>
            </div>
          </div>

    </div>


    <div class="about" id="tokenomics">

        <h1>Tokenomics</h1>
        <div class="content">
            <div class="about-text">
                <p>
                Staking: For every transaction, 4% is distributed to holders
                </p>
                <p>
                Liquidity: For every transaction, 6% is auto-locked to liquidity pool
                </p>
            </div>
            <div class="content-img-op-engine">
            
            </div>
        </div>
        <div class="content">
          <div class="about-bottom">

            <div class="bottom-text">

              <div class="coinStats">
                <div>
                    <p>Total supply:</p>
                    <p class="dr">1,000,000,000,000,000 (1 quadrillion)</p>
                </div>
                <div>
                    <p>Circulating supply:</p>
                    <p class="dr" id="circSupply"></p>
                </div>
                <div>
                    <p>Burned forever:</p>
                    <p class="dr" id="burnedSupply"></p>
                </div>
                <div>
                    <p>Price for one MOONSHOT:</p>
                    <p class="dr" id="priceSpot1"></p>
                </div>
                <div>
                    <p>Price for one million MOONSHOT:</p>
                    <p class="dr" id="priceSpot"></p>
                </div>
                <div>
                    <p>MOONSHOT for 1 BNB:</p>
                    <p class="dr" id="priceBNB"></p>
                </div>
                <div>
                    <p>Market cap:</p>
                    <p class="dr" id="marketCap"></p>
                </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="about">   
      <div class="content">
    <div class="about-bottom">
    
    </div>
    </div>
  </div>


    
  <div class="about" id="buying">



    <h1>How to buy</h1>
  
    <div class="content">
      
      <div class="about-text">
        <h2>
          Download a browser based wallet
        </h2>
        <p>
          Moonshot is an ERC20 token running on the Binance Smart Chain Network.
          You can use Metamask, TrustWallet, Binance Smart Chain Wallet and others.
        </p>
      </div>
    </div>
    <div class="content">
      <div class="about-text">
        <h2>
          Buy BNB
        </h2>
        <p>
          Use an exchange to buy BNB. Some exchanges are Binance, Binance US
        </p>
      </div>
    </div>
    <div class="content">
      <div class="about-text">
        <h2>
          Go to Moonshot website
        </h2>
        <p>
          When you visit Moonshot, click on 'Buy on PancakeSwap' button.<br />
          This will take you to the PancakeSwap website. You will receive a pop up form asking if the address belongs to
          Moonshot.
          Double check before you accept!
        </p>
      </div>
    </div>
    <div class="content">
      <div class="about-text">
        <h2>
          Token Address:
        </h2>
        <h2>
          0xd27d3f7f329d93d897612e413f207a4dbe8bf799
        </h2>
       
      
      </div>
    </div>
    <div class="content">
      <div class="about-text">
        <h2>
          When on PancakeSwap
        </h2>
        <p>
          Click on the gear button and set slippage to 11%.<br />
          If that gives you an error, increase the slippage to 12% or more.<br />
        </p>
      </div>
    </div>
    <div class="content">
      <div class="about-text">
        <h2>
          Swap BNB for Moonshot
        </h2>
        <p>
          Confirm with your browser based wallet
        </p>
      </div>
    </div>
    <div class="content">
      <div class="about-text">
        <h2>
          View your Moonshot in your browser based wallet
        </h2>
        <p>
          To view your Moonshot, add custom token to your browser based wallet.
          Use the address above in red.
        </p>
      </div>
    </div>

    <div class="about-text centered" id="presale-box">
      <div class="launch"></div>

       <div class="buttons">
         <a target="_blank" href="https://exchange.pancakeswap.finance/#/swap?inputCurrency=0xd27D3F7f329D93d897612E413F207A4dbe8bF799">Buy on PancakeSwap</a>
       </div>

</div>

    <div class="content-img-op">
      
      <img src="img/launcher.png" alt="" />
      
    </div>



  </div>

    <div class="roadmap" id="roadmap">

        <h1>Road Map</h1>
        <div class="spacer-small"></div>
        <div class="content">
          <div class="roadmap-img">
            <img src="img/orbiter.png" alt="" />
          </div>
          <div class="container">
            <div class="rightbox">
              <div class="rb-container">
                <ul class="rb">
                  <div class="btn up">
                    >
                  </div>
                  <div class="btn down">
                    >
                  </div>
                  <div class="btn up2">
                    >
                  </div>
                  <div class="btn down2">
                    >
                  </div>
 
                  <li class="rb-item done" ng-repeat="itembx">
                    <div class="timestamp">
                      Q1 2021<br>
                      Done
                    </div>
                    <div class="item-title">
                      Moonshot initiated
                    </div>
                  </li>
    
                  <li class="rb-item done" ng-repeat="itembx">
                    <div class="timestamp">
                      Q1 2021<br />
                      Done
                    </div>
                    <div class="item-title">
                      Presale
                    </div>
                  </li>
    
                  <li class="rb-item soon" ng-repeat="itembx">
                    <div class="timestamp">
                      Q2 2021<br />
                      Coming soon
                    </div>
                    <div class="item-title">
                      Burn more than 50% of the total remaining supply after launch
                    </div>
                  </li>
   
   
                  <li class="rb-item soon" ng-repeat="itembx">
                    <div class="timestamp">
                      Q2 2021<br />
                      Coming soon
                    </div>
                    <div class="item-title">
                      Marketing; Build social media presence
                    </div>
                  </li>
    
                  <li class="rb-item soon" ng-repeat="itembx">
                    <div class="timestamp">
                      Q2 2021<br />
                      Coming soon
                    </div>
                    <div class="item-title">
                      Coinmarketcap tracking
                    </div>
                  </li>
                  <li class="rb-item soon" ng-repeat="itembx">
                    <div class="timestamp">
                      Q2 2021<br />
                      Coming soon
                    </div>
                    <div class="item-title">
                      Coingecko tracking
                    </div>
                  </li>
                  <li class="rb-item soon" ng-repeat="itembx">
                    <div class="timestamp">
                      Q2 2021<br />
                      Coming soon
                    </div>
                    <div class="item-title">
                      Blockfolio listing
                    </div>
                  </li>
                  <li class="rb-item soon" ng-repeat="itembx">
                    <div class="timestamp">
                      Q2 2021<br />
                      Coming soon
                    </div>
                    <div class="item-title">
                      Merchandise and Moonshot branded wearables
                    </div>
                  </li>

                  <li class="rb-item soon" ng-repeat="itembx">
                    <div class="timestamp">
                      Q2 2021<br />
                      Coming soon
                    </div>
                    <div class="item-title">
                      Lottery Pools
                    </div>
                  </li>
    
                  <li class="rb-item soon" ng-repeat="itembx">
                    <div class="timestamp">
                      Q2 2021<br />
                      Coming soon
                    </div>
                    <div class="item-title">
                      Listing on exchanges
                    </div>
                  </li>

                  <li class="rb-item soon" ng-repeat="itembx">
                    <div class="timestamp">Q3 2021<br /></div>
                    <div class="item-title">
                      NFTs
                    </div>
                  </li>
    
                  <li class="rb-item soon" ng-repeat="itembx">
                    <div class="timestamp">Q3 2021<br /></div>
                    <div class="item-title">
                      Further development
                    </div>
                  </li>

                  
                </ul>
              </div>
            </div>
          </div>
        </div>

       
          

    </div>


    <div class="spacer"></div>
    
    <footer>
        <p>Moonshot is a social experiment issued on the Binance
          smart chain that is fully community-driven!</p>
      </footer>

    <div class="spacer"></div>
   
    <div class="nav">
        <div class="flex-container-bottom">
            <div class="flex-items"><img class="icon" src="img/github.png"/><span><a class="link" target="_blank" href="https://github.com/moonshot-platform">GitHub</a></span></div>
            <div class="flex-items"><img class="icon" src="img/telegram.svg"/><span><a class="link" target="_blank" href="https://t.me/RS25Moonshot">Telegram</a></span></div>
            <div class="flex-items"><img class="icon" src="img/twitter.png"/><span><a class="link" target="_blank" href="https://twitter.com/RS25Moonshot">Twitter</a></span></div>
            <div class="flex-items"><img class="icon" src="img/bsc.ico"/><span><a class="link" target="_blank" href="https://bscscan.com/address/0xd27d3f7f329d93d897612e413f207a4dbe8bf799#code">Token address</a></span></div>
            <div class="flex-items"><img class="icon" src="img/pancakeswap.ico"/><span><a class="link" target="_blank" href="https://exchange.pancakeswap.finance/#/swap?inputCurrency=0xd27D3F7f329D93d897612E413F207A4dbe8bF799">PancakeSwap</a></span></div>
        </div>
        
    </div> 



  <script>
    var isPlaying = false;
    
    window.onscroll = function () {
      scrollFunction();
    };
    function scrollFunction() {
      if (
        document.body.scrollTop > 80 ||
        document.documentElement.scrollTop > 80
      ) {
        document.getElementById("navbar").style.background = "#00000090";
      } else {
        document.getElementById("navbar").style.background = "#00000000";
      }
    }
    
    function play() {
      let a = document.getElementById("music");
      if(!isPlaying) {
        a.currentTime = 0;
        a.loop = true;
        isPlaying = a.play();
        document.getElementById("takethemoonshot").innerText = "TAKE THE MOONSHOT 𝅘𝅥𝅯𝆕";
      }
      else {
        isPlaying = a.pause();
        document.getElementById("takethemoonshot").innerText = "TAKE THE MOONSHOT";
      }
    }
  </script>
  <script src="js/web3.js"></script>
  <script src="js/price-widget.js"></script>
</body>
</html>
